@using WebApplication1.Services
@model dynamic
@inject ICalculateNumber CalculateNumber
@inject IRandomNumber RandomNumber
@{
    ViewBag.Title = "Access service directly";
}

<h2>AccessServiceDirectly</h2>
<dl class="dl-horizontal">
    @{
        var number1 = RandomNumber.GetRandomNumber();
        var number2 = RandomNumber.GetRandomNumber();
    }
</dl>
<b>Rand value first:</b> @number1<br>
<b>Rand value second:</b> @number2<br>
<b>Add</b><br>@number1 + @number2 = @CalculateNumber.Summ(number1, number2)<br>
<b>Sub</b><br>@number1 - @number2 = @CalculateNumber.Subtraction(number1, number2)<br>
<b>Mult</b><br>@number1 * @number2 = @CalculateNumber.Multiplication(number1, number2)<br>
<b>Div</b><br>@number1 / @number2 = @CalculateNumber.Division(number1, number2)<br>
