@model dynamic
@{
    ViewBag.Title = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>
<b>Rand value first: </b>@ViewBag.number1<br>
<b>Rand value second: </b>@ViewBag.number2<br>
<b>Add</b><br>@ViewBag.Number1 + @ViewBag.Number2 = @ViewBag.Summ<br>
<b>Sub</b><br>@ViewBag.Number1 - @ViewBag.Number2 = @ViewBag.Subtraction<br>
<b>Mult</b><br>@ViewBag.Number1 * @ViewBag.Number2 = @ViewBag.Multiplication<br>
<b>Div</b><br>@ViewBag.Number1 / @ViewBag.Number2 = @ViewBag.Division<br>